@import 'theme.styl'

.main
  margin 0

  .container
    margin-top 2rem
    margin-bottom 2rem

    .details
      width 100%
      padding 0 14% 25px 14%

      .last-updated
        color #fff
        font-weight 500

      .paragraph > div
        padding 25px

      .paragraph
        box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
        justify-content center
        align-items center
        margin-top 2rem
        background-color #fff
        min-width 360px

        h3
          color #fff
          background-color theme_dark
          text-align center
          padding 10px
          margin 0
          width 100%

        .address-view
          overflow hidden

        .more-info
          padding-left 25px
          padding-bottom 25px
          padding-right 25px
          padding-top 0

        .bold
          font-weight bold
