@import url(https://fonts.googleapis.com/css?family=Roboto:300)
@import 'select.styl'
@import 'geosuggest.styl'
@import 'theme.styl'
@import 'terms.styl'

body
  background theme_dark
  background -webkit-linear-gradient(right, theme_dark, theme_light)
  background -moz-linear-gradient(right, theme_dark, theme_light)
  background -o-linear-gradient(right, theme_dark, theme_light)
  background linear-gradient(to left, theme_dark, theme_light)
  font-family "Roboto", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

h1
  color #fff
  text-align center

nav a
  color #ffffff
  text-align center
  right 0

nav li
  min-width 100px

button
  font-family "Roboto", sans-serif
  text-transform uppercase
  outline 0
  background theme_dark
  border 0
  padding 15px
  color #ffffff
  font-size 14px
  -webkit-transition all 0.3 ease
  transition all 0.3 ease
  cursor pointer

.login-page
  padding 10% 0 0

.register-page
  padding 4% 0 0

  .checkbox-register
    text-align left

    input
      width auto

    .checkbox-label
      font-size 12px
      padding 0 5px
      font-weight 500

    a
      text-decoration none


.form-container
  position relative
  z-index 1
  background #ffffff
  max-width: 360px
  margin 0 auto 100px
  padding 45px
  text-align center
  box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)

  input, textarea
    font-family "Roboto", sans-serif
    outline 0
    background #f2f2f2
    width 100%
    border 0
    margin 0 0 15px
    padding 15px
    box-sizing border-box
    font-size 14px
    resize none

  button
    width 100%
    border-radius 0

  button:hover,
  button:active,
  button:focus
    background theme_light

  .message
    margin 15px 0 0
    font-size 12px

    a
      color theme_dark
      text-decoration none

  .error-message
    color #ff0020

  .success-message
    color #4f8a10

.advert-form
  padding 2% 0 0

  .form-container
    max-width: 600px

  .toggle
    width 100%
    margin-bottom 15px

    .toggle-btn
      width 50%
      border 2px solid transparent
      border-radius 0
      background-color #f2f2f2
      color #333

    .toggle-btn.active
      background-color theme_dark
      color #fff
      box-shadow 0 0 15px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.24)

  .geosuggest
    top -5px


.advert-grid
  margin-bottom 2rem

  .container
    margin-top 2rem

    .masonry
      margin 0 auto

      .card
        width 350px
        box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
        justify-content center
        align-items center
        background-color #fff

        h2
          color #fff
          text-align center
          padding-top 15px
          padding-bottom 10px
          width 100%
          margin-top 0

        .advert-details
          width 100%
          text-align center

          label
            margin-top 10px

.categories-grid
  text-align center

  a
    display inline-block
    color #fff
    margin 50px
    text-decoration none

  .tile
    display flex
    width 200px
    height 200px
    box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
    justify-content center
    align-items center

    p
      font-size 25px

