.profile-container
  padding 2% 10% 0

  .avatar-field
    float left
    width 200px
    height 200px

    img
      position absolute

    button
      position relative
      width 200px
      top 215px

  .data-div
    margin-left 250px

    .paragraph
      box-shadow 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
      justify-content center
      align-items center
      margin-bottom 2rem

      h3
        color #fff
        background-color theme_dark
        text-align center
        padding 10px
        margin 0
        width 100%

      div
        padding 25px
        background-color #fff
