.profile-view
  min-height 400px
  overflow hidden

  .drop-down-zone
    display table
    margin 0 auto

  .drop-down-zone > div
    width 204px !important
    height 204px !important

    #avatar
      width 200px
      height 200px
