.profile-view
  width 100%
  overflow hidden

  .drop-down-zone
    display table
    margin 0 auto

  .drop-down-zone > div
    width 204px !important
    height 204px !important
    cursor pointer

    #avatar
      width 200px
      height 200px

table
  width 100%

  tr
    height 40px

#editProfile
  margin-top 20px
  float right
  width 100px
